body {
  font-size: 36px;
  // color: #f00;
  font-family: 'Lato', sans-serif;
}

.setion-title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.text-center,
.setion-sutitle {
  text-align: center;
}

