$yellow-color: #f8bc3a;
$red-color: #db5941;
$green-color: #27ae61;
$blue-color: #2a80b9;
$light-gray-color: #ebebea;
$silver-color: #aaa;
$dark-brown-color: #2f2f2f;
$white-color: #fff;

$text-dark: $dark-brown-color;
$text-light: $white-color;
$text-silver: $silver-color;

$bg-yellow: $yellow-color;
$bg-red: $red-color;
$bg-green: $green-color;
$bg-blue: $blue-color;
$bg-light: $light-gray-color;
$bg-dark: $dark-brown-color;
$bg-white: $white-color;
